<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/image/icon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
  <title>About Me</title>
</head>

<body>
  <div class="main-panel">
    {{>header}}
    <img src="/image/babe.jpg" alt="Chia Wei">
  </div>
{{>footer}}
</body>

</html>
